<h1>We<br/>believe in<br/>passionate<br/>people</h1>
<button><span></span><span>CAREER</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
<ul>
    <li>
        <a>
          <figure>
            <img src="imgs/winners.jpg" alt="winners"/>
            <figcaption>WINNERS</figcaption>
          </figure>
          <span>WINNERS</span>
        </a>
    </li>
    <li>
        <a>
          <figure>
            <img src="imgs/boxer.jpg" alt="boxer"/>
            <figcaption>PHILOSOPHY</figcaption>
          </figure>
          <span>PHILOSOPHY</span>
        </a>
    </li>
    <li>
        <a>
          <figure>
            <img src="imgs/history.jpg" alt="history"/>
            <figcaption>HISTORY</figcaption>
          </figure>
          <span>HISTORY</span>
        </a>
    </li>
</ul>
