$headColor: #f7f7f7;
$textColor: #8c8c8c;
$primaryBlue: #00b0ff;
$primaryYellow: #f2d800;
$secondaryBlue: #0022ff;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($seconds) {
  -webkit-transition: $seconds;
  -moz-transition: $seconds;
  -ms-transtion: $seconds;
  transition: $seconds;
}

.circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: block;

  &.black {
    background-color: black;
  }
}

section{
  >h1{
    color:#f7f7f7;
    font-size: 196px;
    font-weight: bold;
    text-align: center;
  }
}

body {
  width: 1170px;
  margin: 0 auto !important;
  background: url('../images/primaryBg.jpg') top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  text-align: center;
  padding-top: 30px;

  figure {
    display: inline-block;
    float: left;
    font-size: 30px;
    font-weight: bold;
  }

  nav {
    display: inline-block;
    font-size: bold;
    padding-top: 5px;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 7px 10px;

        &:hover {
          background-color: $primaryBlue;
          color: white;
          @include transition(0.3s);
        }
      }
    }
  }

  #miniSocial {
    display: inline-block;
    float: right;

    li {
      display: inline-block;
    }
  }
}

#banner {
  padding-top: 150px;

  hgroup {
    text-align: center;

    h1 {
      color: black;
      font-size: 50px;
      font-style: italic;
    }

    h3 {
      padding-top: 10px;
      color: white;
      font-size: 32px;
      font-style: italic;
    }
  }
}
