<section>
    <figure>
        <figcaption>
            <h1>Your next interactive experience<br/></h1>
            <button [routerLink]="['/hireus']"><span></span><span>HIRE US <i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
        </figcaption>
    </figure>
</section>
<section>
    <ul>
        <li>
            <h2>Place Holder #1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non commodo nisi. </p>
        </li>
        <li>
            <h2>Place Holder #2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non commodo nisi.</p>
        </li>
        <li>
            <h2>Place Holder #3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non commodo nisi. Quisque sed eleifend lorem. </p>
        </li>
    </ul>
</section>
